.orbit > .orbit-container > li.orbit-slide.is-active img{
    height: 750px;
    width: 100%;
} 

.column img {
    height: 300px;
    width: 400px;
}

.media-object img {
    height: 100px;
    width: 100px;
}

.Title h2{
    text-align: center;
    background-color: aliceblue; 
}

.subtitle {
    text-align: center;
    background-color: #ebebeb;
}
    .subtitle h2 {
        background-color: aliceblue;   
    }

.button{
    width: 100%;
    font-size: 16px ;
    background-color: #2199e8;
}